/* main section styles */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

main {
    width: 1320px;
    margin: 0 auto;
}

.fast-banner {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    background-position: center;
    padding-bottom: 100px;
}

.section-welcome {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;
    padding-right: 37px;
}

.section-Celebration {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 50px;
    padding-right: 37px;
}

/* orange section styles */
.section-orange {
    text-align: center;
}

.section-discount {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}

.section-deals {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.section-categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* section party styles */
.section-party {
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 70px 0;
    margin: 160px auto;
}

.section-party-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 50px;
    padding-left: 124px;
}

.section-party-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 124px;
    padding-bottom: 20px;
}

.join-party {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    padding-left: 124px;
}


/* event-details section styles */
.event {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    text-align: center;
    padding: 100px;
    margin: 0 auto;
    border-radius: 16px;
}

.event-details {
    color: #F00;
}

#join {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* section offer STYLES */

.offer {
    align-items: center;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    gap: 70px;
    margin: 120px auto;
}

.section-offer {
    max-width: 33.33%;
}

.offer-mid-img {
    max-width: 33.33%;
}

.section-2024 {
    max-width: 33.33%;
    padding-left: 40px;
}


.pic-ellipse {
    border-radius: 364.844px;
    border: 15px solid #F00;
    background-size: 33%;
    background-repeat: no-repeat;
    padding: 30px;
    align-items: center;
}

.new-offer {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 50px;
}

.coming-soon {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    padding-top: 100px;
    padding-right: 100px;
}

.year-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

/* sale section styles */


.sale-top-title {
    margin: 0;
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.sale-day {
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.sale-top-sub-title {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #070211;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.sale-top-description {
    max-width: 70%;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.sale-mid {
    background-image: url('../images/sale-mid-bg.png');
    background-repeat: no-repeat;
    background-position: top right;
    align-items: center;
    display: flex;
}


.sale-mid-left-img {
    z-index: 999;
    margin-bottom: -17.5%;
}

.sale-down {
    height: 220px;
    background-image: url('../images/Rectangle\ 2.png');
    border-radius: 16px 0px 16px 16px;
    background-repeat: no-repeat;
}

/* portfolio section styles */

.portfolio-container {
    margin: 120px auto;
}

.portfolio-sub-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
}

.portfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-top: 10px;
}

.image-gifs {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

/* Subscribe section styles */

.subscribe-container {
    text-align: center;
    margin: 140px auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 120px 0;
}

.subscribe-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 5px;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.textarea {
    border-radius: 50px;
    background: #FFF;
    text-align: center;
    padding-right: 250px;
}

.submit {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    text-align: center;
} 

.message{
    justify-content: space-around;
    display: flex;
}

.user {
    text-align: center;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.subscribe-down {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}


/* footer section styles */
.section-footer {

    background: #070211;
    margin-top: 250px;
    padding: 120px;
}